/* * {
  border: 1px dotted red;
  margin: -1px;
} */

/* GENERAL STUFF */
img {
  width: 100%;
}

.row {
  margin-bottom: 5rem;
}

canvas {
  vertical-align: top;
}

/* NAVIGATION */

nav {
  background-color: #3f4854;
  height: 20rem;
  margin-bottom: 1rem;
  position: relative;
}

#nav-container {
  height: 100%;
}

#nav-container ul {
  list-style-type: none;
  padding: 0;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
}

#nav-container ul li {
  float: left;
  margin: 0;
}

#nav-container ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#nav-container ul li a:hover {
  background-color: #111;
}

/* CONTENT */

#section1 {
  text-decoration: underline;
  text-decoration-color: #c56a4b;
}

#section2 {
  text-decoration: underline;
  text-decoration-color: #d4aa4a;
}

#section3 {
  text-decoration: underline;
  text-decoration-color: #c6d47b;
}

#section4 {
  text-decoration: underline;
  text-decoration-color: #fffd8c;
}
