/* * {
  border: 1px dotted red;
  margin: -1px;
} */

nav {
  background-color: #333;
  height: 20rem;
  margin-bottom: 1rem;
  position: relative;
}

#nav-container {
  height: 100%;
}

#nav-container ul {
  list-style-type: none;
  padding: 0;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
}

#nav-container ul li {
  float: left;
  margin: 0;
}

#nav-container ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#nav-container ul li a:hover {
  background-color: #111;
}
