/* * {
  border: 1px dotted red;
  margin: -1px;
} */

/* GENERAL STUFF */

body {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.7;
    hyphens: auto;
}

#main-container {
    padding-top: 200px;
}

img {
    width: 100%;
}

.row {
    margin-bottom: 5rem;
}

canvas {
    vertical-align: top;
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
}

.open-new {
    position: relative;
    height: 220px;
    background: #e0e0e0;
}

.open-new:after {
    content: "Open Sketch";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* NAVIGATION */

header {
    background-color: #f9f9fb;
    margin-bottom: 5rem;
    position: relative;
}

/* header */

.header {
    /* background-color: #fff; */
    box-shadow: 0px 0px 5px 5px rgba(51, 51, 51, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

header hr {
    margin-top: 1rem;
}

.header #title,
.header #subtitle {
    transition: all 0.2s ease-in-out;
}

.header.scroll #title,
.header.scroll #subtitle {
    transition: all 0.2s ease-in-out;
    display: inline-block;
}

.header.scroll #title {
    font-size: 1.8rem;
    max-width: 50%;
    margin-bottom: 0;
}

.header.scroll #subtitle {
    font-size: 1.2rem;
    float: right;
    margin-top: 0.6rem;
    max-width: 50%;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    /* background-color: #fff; */
}

.header li {
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.header li a {
    text-decoration: none;
    display: block;
    color: #777;
    text-align: center;
    padding: 7px 14px 7px 0px;
    text-decoration: none;
}

.header.scroll li {
    font-size: 1.2rem;
}
.header.scroll li a {
    padding: 5px 10px 5px 0px;
}

#nav-container {
    height: 100%;
    padding-top: 1em;
}
.header.scroll #nav-container {
    padding-top: 0.4em;
}

#nav-container ul {
    list-style-type: none;
    padding: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    color: #777;
}

#nav-container ul li {
    /* float: left; */
    display: inline-block;
    margin: 0;
    color: #777;
}

#nav-container ul li a:hover {
    display: block;
    color: #d22;
    text-align: center;
    text-decoration: none;
}

.header .menu {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

a.anchor {
    display: block;
    position: relative;
    top: -95px;
    visibility: hidden;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header hr {
    margin-bottom: 0;
}

.header .menu-icon .navicon {
    background: #777;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #777;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

footer {
    font-size: 1.1rem;
    margin-bottom: 3em !important;
}

@media (min-width: 550px) {
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

@media (max-width: 550px) {
    .header #title {
        font-size: 1.8rem;
    }
    .header #subtitle {
        font-size: 1.2rem;
    }
    .header .menu li {
        float: none !important;
    }
    .header .menu li a {
        text-align: unset !important;
        padding-left: 20px !important;
    }
    .header #title.scroll,
    .header #subtitle.scroll {
        display: block;
        float: unset;
        margin-top: inherit;
    }
    #nav-container ul {
        display: inline-block;
        width: unset;
    }
    #nav-container ul li {
        display: unset;
    }
    #nav-container ul li a {
        padding: 5px;
    }
}
/* CONTENT */

.row.no-margin {
    margin-bottom: 0;
}
